rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users Collection
    match /users/{userId} {

      // Function to check if the user is an Admin
      function isAdmin() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
      }

      // Allow admins to perform any operation
      allow read, create, update, delete: if isAdmin();

      // Allow users to read their own documents
      allow read: if request.auth != null && request.auth.uid == userId;

      // Allow users to update their own 'isFirstLogin' field
      allow update: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.data.keys().hasOnly(['isFirstLogin'])
                    && request.resource.data.isFirstLogin == false;

    }

    // Define rules for other collections here, if any
  }
}
